* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  /* overflow-y: auto; */
}

p {
  color: dimgray;
}

#top-contact {
  background-color: #dddddd;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #ff6759;
}

#top-banner h1 {
  color: white;
  background-color: rgba(134, 153, 159, 0.5);
}

.btn-danger {
  background-color: #ff6759;
}

#top-banner {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("../images/top.png");
  width: 100vw;
  height: 80vh;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.orange-highlight {
  color: #ff6759;
}

/* #appointment .container {
    position: relative;
    z-index: 1;
    top: -20px;
    background-color: white;
} */

#appointment {
  background-color: #f1f1f1;
  height: 60vh;
}

#appointment .container {
  transform: translate(0px, -3rem);
  background-color: white;
}

#appointment img {
  width: 100%;
  height: auto;
}

.service {
  background-color: #f1f1f1;
}

#services h4 {
  border-bottom: 3px solid #ff6759;
  margin: auto;
}

#about {
  background-color: #f1f1f1;
}

.why-header {
  position: relative;
}

.why-header:before {
  content: "";
  position: absolute;
  width: 55px;
  height: 2px;
  background-color: #ff6759;
  top: 2rem;
}

#gallery-nav {
  position: relative;
}

#gallery-nav:before {
  content: "";
  position: absolute;
  width: 600px;
  height: 2px;
  background-color: #0d6efd;
  right: 250px;
}

#gallery-nav:after {
  content: "";
  position: absolute;
  width: 600px;
  height: 2px;
  background-color: #0d6efd;
  right: 250px;
}

#gallery-nav a {
  color: dimgray;
}

#gallery-nav .selected {
  color: #ff6759;
}

#feel-free {
  background-color: #0d6efd;
}

#feel-free p {
  color: white;
}

.feel-free-header {
  position: relative;
}

.feel-free-header:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 3px;
  background-color: white;
  top: 3rem;
}

#doctors {
  background-color: #f1f1f1;
}

footer {
  background-color: #333333;
}

.instagram-image {
  width: 100%;
  height: 5vw;
  object-fit: cover;
}

.gallery-image {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

#lower-footer {
  border-top: 1px solid #535353;
}
